@model Orcamentos.Models.Orcamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Orçamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Id do Perfil
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.profileId)
        </dd>
        <dt class="col-sm-2">
            Nome do Perfil
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
           Id do Tipo de Rendimento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.revenueTypeId)
        </dd>
        <dt class="col-sm-2">
            Tipo de Rendimento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RevenueType.Nome)
        </dd>
        <dt class="col-sm-2">
            Id da Unidade de Negocios
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.businessUnitId)
        </dd>
        <dt class="col-sm-2">
            Unidade de Negocios
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessUnit.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Unidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUni)
        </dd>
        <dt class = "col-sm-2">
            Part Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partnumb)
        </dd>
        <dt class = "col-sm-2">
            Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class = "col-sm-2">
            Numero de Serie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumb)
        </dd>
        <dt class = "col-sm-2">
            Nome do Produto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
