@model Orcamentos.Models.Orcamento

@{
	ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
	<h4>Orçamento</h4>
	<hr />
	<div class="row">
		<div class="col-4">
			<div class="form-group mb-2">
				<label asp-for="OrcamentoNome.Nome" class="control-label">Proposta</label>
				<input asp-for="OrcamentoNome.Nome" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="Profile.Name" class="control-label">Perfil</label>
				<input asp-for="Profile.Name" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="RevenueType.Nome" class="control-label">Tipo de Rendimento</label>
				<input asp-for="RevenueType.Nome" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="BusinessUnit.Name" class="control-label">Unidade de Negócio</label>
				<input asp-for="BusinessUnit.Name" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="Marca" class="control-label"></label>
				<input asp-for="Marca" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="TipoUni" class="control-label">Tipo de Unidade</label>
				<input asp-for="TipoUni" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="Partnumb" class="control-label">Part Number</label>
				<input asp-for="Partnumb" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="modelo" class="control-label">Modelo</label>
				<input asp-for="modelo" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="SerialNumb" class="control-label">Numero de Serie</label>
				<input asp-for="SerialNumb" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="ProductName" class="control-label">Nome do Produto</label>
				<input asp-for="ProductName" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="ExternalProvider" class="control-label">Fornecedor</label>
				<input asp-for="ExternalProvider" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="DelivaryDate" class="control-label">Data de Entrega</label>
				<input asp-for="DelivaryDate" class="form-control" readonly />
			</div>
			<div class="form-group mb-2">
				<label asp-for="Quantidade" class="control-label">Quantidade</label>
				<input asp-for="Quantidade" class="form-control" id="qnt" readonly />
			</div>
			
		</div>
		<div class="col-4">
			<div class="mb-2">
            				<label asp-for="UnitPrice" class="control-label">Preço de Unidade Diário</label>
            				<div class="form-group">
            					<input asp-for="UnitPrice" class="form-control" id="unitPrice" readonly />
            				</div>
            			</div>
			<div class="mb-2">
				<label asp-for="UnitCost" class="control-label">Custo de Unidade Diário</label>
				<div class="form-group">
					<input asp-for="UnitCost" class="form-control" id="unitCost" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="DescontoTabela" class="control-label">Desconto da Tabela</label>
				<div class="form-group">
					<input asp-for="DescontoTabela" class="form-control" id="descTabela" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="PrecoParcial" class="control-label">Preço Parcial</label>
				<div class="form-group">
					<input asp-for="PrecoParcial" class="form-control" id="precoParcial" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="CustoTabela" class="control-label">Custo da Tabela</label>
				<div class="form-group">
					<input asp-for="CustoTabela" class="form-control" id="custoTabela" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="CustoDesc1" class="control-label">Custo do Desconto 1</label>
				<div class="form-group">
					<input asp-for="CustoDesc1" class="form-control" id="custoDesc1" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="CustoDesc2" class="control-label">Custo do Desconto 2</label>
				<div class="form-group">
					<input asp-for="CustoDesc2" class="form-control" id="custoDesc2" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="CustoDesc3" class="control-label">Custo do Desconto 3</label>
				<div class="form-group">
					<input asp-for="CustoDesc3" class="form-control" id="custoDesc3" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="TotalCost" class="control-label">Custo Total</label>
				<div class="form-group">
					<input asp-for="TotalCost" class="form-control" id="custoTotal" readonly/>
				</div>

			</div>
			<div class="mb-2">
				<label asp-for="TotalPrice" class="control-label">Preço Total</label>
				<div class="form-group">
					<input asp-for="TotalPrice" class="form-control" id="precoTotal" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="Margin" class="control-label">Margem</label>
				<div class="form-group">
					<input asp-for="Margin" class="form-control" id="margem" readonly/>
				</div>
			</div>
			<div class="mb-2">
				<label asp-for="MG" class="control-label">MG</label>
				<div class="form-group">
					<input asp-for="MG" class="form-control" id="MG" readonly/>
				</div>

			</div>
		</div>
	</div>
</div>
<div>
	<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
	<a class="btn btn-primary" asp-action="Index">Voltar para a lista</a>
</div>

<script>

	let euro = new Intl.NumberFormat('pt-PT', {
		style: 'currency',
		currency: 'EUR',
	});

	let percentagem = new Intl.NumberFormat('default', {
		style: 'percent',
		minimumFractionDigits: 1,
		maximumFractionDigits: 1,
	});

	var unitPrice = document.getElementById("unitPrice")

	unitPrice.value = euro.format(@Html.Raw(Json.Serialize(Model.UnitPrice)));

	var unitCost = document.getElementById("unitCost")

	unitCost.value = euro.format(@Html.Raw(Json.Serialize(Model.UnitCost)));

	var DescontoTabela = document.getElementById("descTabela")

	DescontoTabela.value = euro.format(@Html.Raw(Json.Serialize(Model.DescontoTabela)));

	var PrecoParcial = document.getElementById("precoParcial")

	PrecoParcial.value = euro.format(@Html.Raw(Json.Serialize(Model.PrecoParcial)));

	var CustoTabela = document.getElementById("custoTabela")

	CustoTabela.value = euro.format(@Html.Raw(Json.Serialize(Model.CustoTabela)));

	var CustoDesc1 = document.getElementById("custoDesc1")

	CustoDesc1.value = euro.format(@Html.Raw(Json.Serialize(Model.CustoDesc1)));

	var CustoDesc2 = document.getElementById("custoDesc2")

	CustoDesc2.value = euro.format(@Html.Raw(Json.Serialize(Model.CustoDesc2)));

	var CustoDesc3 = document.getElementById("custoDesc3")

	CustoDesc3.value = euro.format(@Html.Raw(Json.Serialize(Model.CustoDesc3)));

	var TotalCost = document.getElementById("custoTotal")

	TotalCost.value = euro.format(@Html.Raw(Json.Serialize(Model.TotalCost)));

	var TotalPrice = document.getElementById("precoTotal")

	TotalPrice.value = euro.format(@Html.Raw(Json.Serialize(Model.TotalPrice)));

	var Margin = document.getElementById("margem")

	Margin.value = euro.format(@Html.Raw(Json.Serialize(Model.Margin)));

	var mg = document.getElementById("MG")

	mg.value = percentagem.format(@Html.Raw(Json.Serialize(Model.MG)));

</script>
