@model Orcamentos.Models.Orcamento

@{
	ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Orçamento</h4>
<hr />
<div class="row">
	<div>
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-6">
					<input type="hidden" asp-for="Id" />
					<div class="form-group">
						<label class="control-label">Orçamento Nome</label>
						<div class="input-group">
							<select class="form-control" asp-for="orcamentoNomeId"
									asp-items="@(new SelectList(ViewBag.orcamentosNomesList,"Value","Text"))">
								<option>Selecione uma opção</option>
							</select>

						</div>

						<span asp-validation-for="orcamentoNomeId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Perfil</label>
						<div class="input-group">
							<select class="form-control" asp-for="profileId"
									asp-items="@(new SelectList(ViewBag.profilesList,"Value","Text"))">
								<option>Selecione uma opção</option>
							</select>

						</div>

						<span asp-validation-for="profileId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Tipo de Rendimento</label>
						<div class="input-group">
							<select class="form-control" asp-for="revenueTypeId"
									asp-items="@(new SelectList(ViewBag.revenueTypesList,"Value","Text"))">
								<option>Selecione uma opção</option>
							</select>

						</div>

						<span asp-validation-for="revenueTypeId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Unidade de Negocio</label>
						<div class="input-group">
							<select class="form-control" asp-for="businessUnitId"
									asp-items="@(new SelectList(ViewBag.businessUnitsList,"Value","Text"))">
								<option>Selecione uma opção</option>
							</select>

						</div>

						<span asp-validation-for="businessUnitId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Marca" class="control-label"></label>
						<input asp-for="Marca" class="form-control" />
						<span asp-validation-for="Marca" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Tipo de Unidade</label>
						<input asp-for="TipoUni" class="form-control" />
						<span asp-validation-for="TipoUni" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Part Number</label>
						<input asp-for="Partnumb" class="form-control" />
						<span asp-validation-for="Partnumb" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Modelo</label>
						<input asp-for="modelo" class="form-control" />
						<span asp-validation-for="modelo" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Numero de Serie</label>
						<input asp-for="SerialNumb" class="form-control" />
						<span asp-validation-for="SerialNumb" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Nome do Produto</label>
						<input asp-for="ProductName" class="form-control" />
						<span asp-validation-for="ProductName" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Preço diário/por unidade</label>
						<input asp-for="UnitPrice" class="form-control" />
						<span asp-validation-for="UnitPrice" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Custo diário/por unidade</label>
						<input asp-for="UnitCost" class="form-control" />
						<span asp-validation-for="UnitCost" class="text-danger"></span>
					</div>
				</div>
				<div class="col-6">
					
					<div class="form-group mb-2">
						<label class="control-label">Desconto da Tabela</label>
						<input asp-for="DescontoTabela" class="form-control" />
						<span asp-validation-for="DescontoTabela" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Preço Parcial</label>
						<input asp-for="PrecoParcial" class="form-control" />
						<span asp-validation-for="PrecoParcial" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Custo da Tabela</label>
						<input asp-for="CustoTabela" class="form-control" />
						<span asp-validation-for="CustoTabela" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Custo do Desconto 1</label>
						<input asp-for="CustoDesc1" class="form-control" />
						<span asp-validation-for="CustoDesc1" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Custo do Desconto 2</label>
						<input asp-for="CustoDesc2" class="form-control" />
						<span asp-validation-for="CustoDesc2" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Custo do Desconto 3</label>
						<input asp-for="CustoDesc3" class="form-control" />
						<span asp-validation-for="CustoDesc3" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Custo Total</label>
						<input asp-for="TotalCost" class="form-control" />
						<span asp-validation-for="TotalCost" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Preço Total</label>
						<input asp-for="TotalPrice" class="form-control" />
						<span asp-validation-for="TotalPrice" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">Margem</label>
						<input asp-for="Margin" class="form-control" />
						<span asp-validation-for="Margin" class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label class="control-label">MG</label>
						<input asp-for="MG" class="form-control" />
						<span asp-validation-for="MG" class="text-danger"></span>
					</div>
					<div class="form-group form-check">
						<label class="form-check-label">
							<input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
						</label>
					</div>
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-primary" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
