@model IEnumerable<Orcamentos.Models.Orcamento>

@{
    ViewData["Title"] = "Orçamentos";
    var options = Model.Select(o => o.Profile.Name).Distinct().ToList();
}

<h1>Menu</h1>
<h3>Orçamentos</h3>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table" id="orcamentosTable">
    <thead>
        <tr>
            <th>
                Perfil
            </th>
            <th>
               Tipo de Rendimento
            </th>
            <th>
                Unidade de Negocio
            </th>
            <th>
                Marca
            </th>
            <th>
                Tipo de Unidade
            </th>
            <th>
                Part Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                Numero de serie
            </th>
            <th>
                Nome de produto
            </th>
            <th>
                Ativo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RevenueType.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessUnit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partnumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="excelOrcamentos"></div>

<div>@Html.DropDownList("profilesList")</div>

<button id="save-button">Guardar</button>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var data = @Html.Raw(Json.Serialize(Model
            
            .Select(o => new {
            o.Id,
            ProfileId = o.profileId,
            ProfileName = o.Profile.Name,
            RevenueTypeId = o.revenueTypeId,
            RevenueTypeName = o.RevenueType.Nome,
            BusinessUnitId = o.businessUnitId,
            BusinessUnitName = o.BusinessUnit.Name,
            o.Marca,
            o.TipoUni,
            o.Partnumb,
            o.modelo,
            o.SerialNumb,
            o.ProductName,
            o.Ativo
            })));

        var colHeaders = [
            'ID',
            'Perfil ID',
            'Perfil', 
            'Tipo de Rendimento ID',
            'Tipo de Rendimento',
            'Unidade de Negócio ID',
            'Unidade de Negócio', 
            'Marca', 
            'Tipo de Unidade', 
            'Part Number', 
            'Modelo', 
            'Número de Série', 
            'Nome do Produto', 
            'Ativo'];

    var container = document.getElementById('excelOrcamentos');
        var mList = @Html.Raw(Json.Serialize(ViewBag.profilesList));
    var hot = new Handsontable(container, {
        data: data,
            colHeaders: colHeaders,
            columns: [
                { data: 'id', readOnly: true },
                { data: 'profileId', readOnly: true }, //o id do profile deve coincidir com o profile selecionado
                //{ data: 'ProfileName', type: 'dropdown', source: ['tete', 'olikuj', 'hngbfv'] },
                { data: 'ProfileName', type: 'dropdown', source: [ mList ] }, //deve aparecer aqui todos os profiles registados na db
                @*//{ data: 'ProfileName', type: 'dropdown', source: @Html.DropDownList("Select", new SelectList(ViewBag.profilesList, "Value", "Text"), new { style = "width: 70px;", @class = "form-control" }) },*@
                { data: 'revenueTypeId', readOnly: true },
                { data: 'revenueType.nome' },
                { data: 'businessUnitId', readOnly: true },
                { data: 'businessUnit.name' },
                { data: 'marca', type: 'text' },
                { data: 'tipoUni', type: 'text' },
                { data: 'partnumb', type: 'numeric' },
                { data: 'modelo', type: 'text' },
                { data: 'serialNumb', type: 'numeric' },
                { data: 'productName', type: 'text' },
                { data: 'ativo', type: 'checkbox' }
            ],
            height: 'auto',
            licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
        });

        const save = document.querySelector('#save-button');

        var tableData = JSON.stringify(hot.getSourceData());

        console.log(tableData);

        $("#save-button").click(function () {

            $.ajax({
                url: '/Orcamentos/UpdateOrcamentos',
                data: JSON.stringify(hot.getSourceData()),
                dataType: 'json',
                contentType: "application/json",
                type: 'POST',
                success: function (result) {
                    alert("Succes");
                },
                error: function (result) {
                    alert("Failure");
                }
            });
        });

        //save.addEventListener('click', () => {
        //    // save all cell's data
        //    fetch('/Orcamentos/UpdateOrcamentos', {
        //        method: 'POST',
        //        mode: 'no-cors',
        //        headers: {
        //            'Content-Type': 'application/json; charset=utf-8'
        //        },
        //        contentType: 'application/json; charset=utf-8',
        //        //dataType: 'json',
        //        //data: JSON.stringify(hot.getSourceData()),
        //        body: JSON.stringify({ data: tableData })
        //        //body: JSON.stringify({ data: tableData }),
              
        //    })
        //        .then(response => {
        //            exampleConsole.innerText = 'Data saved';
        //        });
        //});

    //saveButton.addEventListener('click', function () {
    //    var updatedData = hot.getSourceData();
    //    $.ajax({
    //        type: 'POST',
    //        url: '/Orcamentos/UpdateOrcamentos',
    //        data: JSON.stringify(updatedData),
    //        contentType: 'application/json; charset=utf-8',
    //        dataType: 'json',
    //        success: function () {
    //            alert('Dados salvos com sucesso!');
    //        },
    //        error: function (error) {
    //            alert('Ocorreu um erro ao salvar os dados.' + error);
    //        }
    //    });
    //});
    });

    
    
</script>
