@model IEnumerable<Orcamentos.Models.Orcamento>

@{
    ViewData["Title"] = "Orçamentos";
}

<h1>Menu</h1>
<h3>Orçamentos</h3>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Perfil
            </th>
            <th>
               Tipo de Rendimento
            </th>
            <th>
                Unidade de Negocio
            </th>
            <th>
                Marca
            </th>
            <th>
                Tipo de Unidade
            </th>
            <th>
                Part Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                Numero de serie
            </th>
            <th>
                Nome de produto
            </th>
            <th>
                Ativo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RevenueType.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessUnit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partnumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>