@model IEnumerable<Orcamentos.Models.Orcamento>

@{
    ViewData["Title"] = "Orçamentos";
}

<h1>Menu</h1>
<h3>Orçamentos</h3>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table" id="orcamentosTable">
    <thead>
        <tr>
            <th>
                Perfil
            </th>
            <th>
               Tipo de Rendimento
            </th>
            <th>
                Unidade de Negocio
            </th>
            <th>
                Marca
            </th>
            <th>
                Tipo de Unidade
            </th>
            <th>
                Part Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                Numero de serie
            </th>
            <th>
                Nome de produto
            </th>
            <th>
                Ativo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RevenueType.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessUnit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partnumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="excelOrcamentos"></div>

<button id="save-button">Guardar</button>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var data = @Html.Raw(Json.Serialize(Model
            
            .Select(o => new {
            o.Id,
            ProfileId = o.profileId,
            ProfileName = o.Profile.Name,
            RevenueTypeId = o.revenueTypeId,
            RevenueTypeName = o.RevenueType.Nome,
            BusinessUnitId = o.businessUnitId,
            BusinessUnitName = o.BusinessUnit.Name,
            o.Marca,
            o.TipoUni,
            o.Partnumb,
            o.modelo,
            o.SerialNumb,
            o.ProductName,
            o.Ativo
            })));

        var colHeaders = [
            'ID',
            'Perfil ID',
            'Perfil', 
            'Tipo de Rendimento ID',
            'Tipo de Rendimento',
            'Unidade de Negócio ID',
            'Unidade de Negócio', 
            'Marca', 
            'Tipo de Unidade', 
            'Part Number', 
            'Modelo', 
            'Número de Série', 
            'Nome do Produto', 
            'Ativo'];

    var container = document.getElementById('excelOrcamentos');
    var hot = new Handsontable(container, {
        data: data,
            colHeaders: colHeaders,
            columns: [
                { data: 'id', readOnly: true },
                { data: 'profileId', readOnly: true },
                { data: 'profile.Name' },
                { data: 'revenueTypeId', readOnly: true },
                { data: 'revenueType.nome' },
                { data: 'businessUnitId', readOnly: true },
                { data: 'businessUnit.name' },
                { data: 'marca', type: 'text' },
                { data: 'tipoUni', type: 'text' },
                { data: 'partnumb', type: 'numeric' },
                { data: 'modelo', type: 'text' },
                { data: 'serialNumb', type: 'numeric' },
                { data: 'productName', type: 'text' },
                { data: 'ativo', type: 'checkbox' }
            ],
            height: 'auto',
            licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
        });


var saveButton = document.getElementById('save-button');
    saveButton.addEventListener('click', function () {
        var updatedData = hot.getSourceData();
        $.ajax({
            type: 'POST',
            url: '/Orcamentos/UpdateOrcamentos',
            data: JSON.stringify(updatedData),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function () {
                alert('Dados salvos com sucesso!');
            },
            error: function (error) {
                alert('Ocorreu um erro ao salvar os dados.' + error);
            }
        });
    });
    });

    
    
</script>
