@model IEnumerable<RevenueType>

@{
    ViewData["Title"] = "Tipo de Rendimento";
}

<h1>Menu</h1>
<h3>Tipos de Rendimento</h3>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>

<button class="btn btn-success mb-3" onclick="changeTable()" id="changeTableButton">Mostrar Excel</button>

<table class="table" id="revenueTypesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@{
			int i = 0;
		}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
					<div class="btn-group" role="group">
						<div>
							<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success rounded-0 rounded-start">
								<i class="bi bi-file-text-fill btn-icon mr-2"></i>
							</a>
						</div>
						<div>
							<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info rounded-0">
								<i class="bi bi-pencil-square btn-icon mr-2"></i>
							</a>
						</div>
						<div>
							<button type="button" class="btn btn-danger rounded-0 rounded-end" id="@("EliminarButton"+i)" data-id="@item.Id" data-marca="@item.Nome" onclick="showModalDelete(this.id)">
								<i class="bi bi-trash3-fill btn-icon mr-2"></i>
							</button>
						</div>
					</div>
                </td>
            </tr>
			i++;
        }
    </tbody>


</table>

<div class="modal fade" id="eliminarModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-break" id="eliminarModalNome">Eliminar Orçamento Nº</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-break">
				Tem a certeza que pretende eliminar o Orçamento Nº<span id="eliminarModalDesc"></span> ? <h6>Esta ação não pode ser desfeita</h6>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				<form id="eliminarModalForm" method="POST">
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="excelTable" class="d-none">
	<div class="mb-3" id="excelRevenueTypes"></div>

	<button class="btn btn-success" id="save-button">Guardar</button>
	<button class="btn btn-success" id="addRowButton">Adicionar linha</button>
	<button class="btn btn-success" id="export-file">Guardar CSV</button>
</div>


@*<div>@Html.DropDownList("profilesList")</div>*@

<script>

	function showModalDelete(id) {

		var id_value = document.getElementById(id);
		const idOrcamento = id_value.getAttribute("data-id");
		const marcaOrcamento = id_value.getAttribute("data-marca");

		document.getElementById('eliminarModalForm').setAttribute("action", "/RevenueTypes/Delete/" + idOrcamento);
		document.getElementById('eliminarModalNome').innerHTML = "Eliminar Orçamento Nº" + idOrcamento;
		document.getElementById('eliminarModalDesc').innerHTML = marcaOrcamento;

		$("#eliminarModal").modal("show");
	}

	var buttonTable = document.getElementById("changeTableButton")

	function changeTable() {

		var table = document.getElementById("revenueTypesTable");
		var excel = document.getElementById("excelTable")

		if (excel.classList.contains('d-none')) {
			table.classList.add('d-none')
			excel.classList.remove('d-none')
			buttonTable.innerHTML = "Mostrar Tabela"
		}
		else {
			table.classList.remove('d-none')
			excel.classList.add('d-none')
			buttonTable.innerHTML = "Mostrar Excel"
		}

	}

	document.addEventListener('DOMContentLoaded', function () {

		var data = @Html.Raw(Json.Serialize(Model

			.Select(o => new {
			o.Id,
			o.Nome,
			o.Tipo,
			o.Ativo
			})));

		var colHeaders = [
			'ID',
			'Nome',
			'Tipo',
			'Ativo'];

		var container = document.getElementById('excelRevenueTypes');

		var hot = new Handsontable(container, {
			data: data,
			colHeaders: colHeaders,
			columns: [
				{ data: 'id', readOnly: true },
				{ data: 'nome', type: 'text' },
				{ data: 'tipo', type: 'text' },
				{ data: 'ativo', type: 'checkbox' }
			],

			language: 'pt-BR',
			rowHeaders: true,
			filters: true,
			dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
			columnSorting: true,
			height: '300px',
			licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
		});

		const save = document.querySelector('#save-button');

		var tableData = JSON.stringify(hot.getSourceData());
		var button1 = document.getElementById('export-file');
		var exportPlugin1 = hot.getPlugin('exportFile');

		button1.addEventListener('click', function () {
			exportPlugin1.downloadFile('csv', {
				bom: false,
				columnDelimiter: ',',
				columnHeaders: true,
				exportHiddenColumns: true,
				exportHiddenRows: true,
				fileExtension: 'csv',
				filename: 'Tabela_RevenueTypes_[YYYY]-[MM]-[DD]',
				mimeType: 'text/csv',
				rowDelimiter: '\r\n',
				rowHeaders: false
			});
		});

		//console.log(tableData);

		$("#save-button").click(function () {
			hot.validateCells((valid) => {
				if (valid) {
					$.ajax({
						url: '/RevenueTypes/UpdateRevenueTypes',
						data: JSON.stringify(hot.getSourceData()),
						dataType: 'json',
						contentType: "application/json",
						type: 'POST',
						success: function (result) {
							getTable();
							//location.reload()
						},
						error: function (xhr, status, error) {
							alert("Failure: " + error);
						}
					});
				}
				else {
					alert("error");
				}
			})

		});

		function getTable() {

			$.ajax({
				url: '/RevenueTypes/GetTableRevenueTypes',
				dataType: 'json',
				contentType: "application/json",
				type: 'GET',
				success: function (data) {
					var tableBody = $('#revenueTypesTable tbody');
					tableBody.empty(); // clear existing rows
					$.each(data, function (index, item) {

						var row = '<tr>' +
							'<td>' + item.nome + '</td>' +
							'<td>' + item.tipo + '</td>' +
							'<td>' + '<input type="checkbox" disabled ' + (item.ativo ? 'checked' : '') + '></td>' +
							'<td>' +
							'<a href="/revenueTypes/edit/' + item.id + '">Editar</a> | ' +
							'<a href="/revenueTypes/details/' + item.id + '">Detalhes</a> | ' +
							'<a href="/revenueTypes/delete/' + item.id + '">Eliminar</a>' +
							'</td>' +
							'</tr>';
						tableBody.append(row);
					});
				},
				error: function (xhr, status, error) {
					alert("Failure: " + error);
				}
			});

		}

		function addNewRow() {

			var novaLinha = {
				Nome: "Não definido",
				Tipo: "Não definido",
				Ativo: false
			};


			$.ajax({
				type: "POST",
				url: "/RevenueTypes/AddNewRow",
				data: novaLinha,
				dataType: "json",
				success: function (dataModel) {

					hot.loadData(dataModel);
					getTable();
				},
				error: function (xhr, status, error) {
					console.log(error);
				}
			});

		}

		var buttonNewRow = document.getElementById("addRowButton")
		buttonNewRow.addEventListener("click", addNewRow)

	});



</script>