@model Orcamentos.Models.Profile

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que quer eliminar?</h3>
<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Id do Nivel de Perfil
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.profileLevelId)
        </dd>
        <dt class="col-sm-2">
            Nivel de Perfil
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileLevel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
